<div class="stock-index-container">
{{#each stock in model}}
  <div class="index-stock">
    <p>{{link-to stock.ticker 'stocks.show' stock}}</p>
    <p>{{stock.quantity}} shares</p>
  </div>
{{/each}}
</div>
