<header>
  <h2 id="title">Portfolio</h2>
  <span>{{link-to 'All Stocks' 'stocks.index'}}</span>
  <span>{{link-to 'Buy new stock' 'stocks.new'}}</span>
  <span>{{link-to 'Hello' 'hello'}}</span>
</header>

{{outlet}}
